<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='style.css') }}" />
		<link href="{{ url_for('icon', filename='favicon.png') }}" rel="shortcut icon" />
		<title>Decemvirate</title>
	</head>
	<body>
		<form action="/">
			<div class="opcontainer">
			<p>
				<span class="opgroup">
					<label for="defeat">Deutsches Talent</label><input id="defeat" name="op" type="radio" value="finddefeat" {{ "checked" if params["op"] == "finddefeat" else "" }}>
					<label for="enfeat">Englisches Talent</label><input id="enfeat" name="op" type="radio" value="findenfeat" {{ "checked" if params["op"] == "findenfeat" else "" }}>
				</span>
				<span class="opgroup">
					<label for="despell">Deutscher Zauber</label><input id="despell" name="op" type="radio" value="finddespell" {{ "checked" if params["op"] == "finddespell" else "" }}>
					<label for="enspell">Englischer Zauber</label> <input id="enspell" name="op" type="radio" value="findenspell" {{ "checked" if params["op"] == "findenspell" else "" }}>
				</span>
				<span class="opgroup">
					<label for="depub">Deutsche Publikation</label><input id="depub" name="op" type="radio" value="finddepub" {{ "checked" if params["op"] == "finddepub" else "" }}>
					<label for="enpub">Englische Publikation</label> <input id="enpub" name="op" type="radio" value="findenpub" {{ "checked" if params["op"] == "findenpub" else "" }}>
				</span>
			</p>
			<p>
				<label for="query">Suchbegriff: </label><input id="query" name="query" type="text" value="{{ params["query"] }}" autofocus>
			</p>
			<p>
				<input type="submit" value="Abschicken">
			</p>
			</div>
		</form>
		<hr>
		<div class="results">
			<div class="result">
{% if result_type == "feat" %}
	{% for feat in result %}
				<p>
					<b>Deutscher Name:</b> {{ feat["GermanName"] }}<br>
					<b>Englischer Name:</b> {{ feat["EnglishName"] }}<br>
					<b>Buch:</b> {{ linkify_op("finddepub", feat["Book"]) }} <b>Seite:</b> {{ feat["Page"] }}<br>
					<b>Beschreibung:</b> {{ feat["Description"] }}<br>
					{% if feat["Type"] != "" %}
					<b>Kategorien:</b> {{ format_list(feat["Type"]) }}<br>
					{% endif %}
				</p>
	{% endfor %}
{% elif result_type == "spell" %}
	{% for spell in result %}
				<p>
					<b>Deutscher Name:</b> {{ spell["GermanName"] }}<br>
					<b>Englischer Name:</b> {{ spell["EnglishName"] }}<br>
					<b>Buch:</b> {{ linkify_op("finddepub", spell["Book"]) }} <b>Seite:</b> {{ spell["Page"] }}<br>
					<b>Klassen:</b>{{ format_list(spell["Classes"]) }}<br>
					<b>Schule:</b> {{ spell["School"] }}{% if spell["Race"] %} <b>Volk:</b> {{ spell["Race"] }} {% endif %}<br>
					<b>Meta:</b> {{ spell["Meta"] }}<br>
					<b>Beschreibung:</b> {{ spell["Description"] }}<br>
				</p>
	{% endfor %}
{% elif result_type == "depub" %}
	{% for pub in result %}
				<p>
					<b>Titel:</b> {{ pub["Title"] }}<br>
					<b>Produktcode:</b> {{ pub["ProductCode"] }}<br>
					<b>Abkürzung:</b> {{ pub["Abbreviation"] }}<br>
					<b>Abkürzung Statblock:</b> {{ pub["StatBlock"] }}<br>
					<b>Kategorie:</b> {{ pub["Category"] }}<br>
					<b>Datum:</b> {{ pub["Date"] }}<br>
					{% if pub["Commentary"] != "" %}
						<b>Kommentar:</b> {{ pub["Commentary"] }}<br>
					{% endif %}
					{% if pub["URL"] %}
						<b>URL:</b> {{ linkify(pub["URL"]) }}<br>
					{% endif %}
					{% if pub["ISBN"] %}
						<b>ISBNs:</b> {{ format_list(pub["ISBN"]) }}<br>
					{% endif %}
					{% if pub["PaizoProductCodes"] %}
						<b>Originale:</b> {{ linkify_op("findenpub", pub["PaizoProductCodes"]) }}<br>
					{% endif %}
	{% endfor %}
{% elif result_type == "enpub" %}
	{% for pub in result %}
				<p>
					<b>Titel:</b> {{ pub["Title"] }}<br>
					<b>Produktcode:</b> {{ pub["ProductCode"] }}<br>
					<b>Abkürzung:</b> {{ pub["Abbreviation"] }}<br>
					<b>Kategorie:</b> {{ pub["Category"] }}<br>
					<b>Datum:</b> {{ pub["Date"] }}<br>
					{% if pub["URL"] %}
						<b>URL:</b> {{ linkify(pub["URL"]) }}<br>
					{% endif %}
					{% if pub["ISBN"] %}
						<b>ISBNs:</b> {{ format_list(pub["ISBN"]) }}<br>
					{% endif %}
					{% if pub["Translations"] %}
						<b>Übersetzungen:</b> {{ linkify_op_list("finddepub", pub["Translations"], "Abbreviation") }} <br>
					{% endif %}
	{% endfor %}
{% endif %}
			</div>
		</div>
		<hr>
		<div class="versionfooter">
			<a href="{{ decemvirate["url"]["homepage"] }}">{{ decemvirate["name"] }} {{ decemvirate["version"] }}</a><br>
			Database version {{ decemvirate["db"] }}
		</div>
	</body>
</html>
